@import url('https://fonts.googleapis.com/css2?family=Bona+Nova&display=swap');

body {
    background-color: whitesmoke;

}

form {
    max-width: 900px;
    background-color: white;
    margin: 10vh auto 0 auto;
    padding-top: 15vh;
}

input {
    display: block;
    min-width: 200px;
    margin: 10px auto 0 auto;
    outline: none;
    font-family: 'Bona Nova', serif;
    font-size: 18px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 70%;
    min-height: 30px;
    border-style: solid;
    border-color: blue;
    border-width: 0px 0px 1px 0px;
}

input[type="submit"] {
    background-color: blue;
    color: white;
    height: 50px;
    margin-top: 20px;
}

p {
    margin: 10px 0;
    text-align: center;
}

span {
    display: block;
    color: blue;
    margin-left: 15%;
    margin-top: 20px;
}

.form-fit {
    max-width: 900px;
    background-color: white;
    margin: 0 auto;
    padding: 10px 0;
}

.info {
    height: auto;
    width: 25vw;
    position: fixed;
    top: 10%;
    left: 60%;
    background-color: white;
    text-align: center;
    border: 1px solid blue;
}

.info>p {
    padding: 10% auto;
}